
h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.widget-misalert {
  background: #0f9;
  font-size: 32px;
  font-weight: bold;
}

.pending {
  background: #f00;
}

.loggedin {
  background: #1aff1a;
}

.downloading {
  background: #c9f;
}
