<div class="gridster">
  <ul>
    <!--  Dashboard Title -->
    <li data-row="1" data-col="1" data-sizex="16" data-sizey="1">
      <div data-id="text_dashboard_title" data-view="Mistext" data-title="System Dashboard"></div>
    </li>
    <!--  Users -->
    <li data-row="2" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="text_users" data-view="Mistext" data-title="Users"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="mis01_users_registered" data-view="Misalert2" data-title="Registered"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="mis01_users_pending" data-view="Misalert2" data-title="Pending" data-addclass-pending="isNotZero"></div>
    </li>
    <!--  Terminals -->
    <li data-row="2" data-col="5" data-sizex="8" data-sizey="1">
      <div data-id="text_terminals" data-view="Mistext" data-title="Terminals"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="2" data-sizey="2">
      <div data-id="mis01_terminals_deployed" data-view="Misalert2" data-title="Deployed"></div>
    </li>
    <li data-row="3" data-col="7" data-sizex="2" data-sizey="2">
      <div data-id="mis01_terminals_active" data-view="Misalert2" data-title="Active"></div>
    </li>
    <li data-row="3" data-col="9" data-sizex="2" data-sizey="2">
      <div data-id="mis01_terminals_loggedIn" data-view="Misalert2" data-title="Logged In" data-addclass-loggedin="isNotZero"></div>
    </li>
    <li data-row="3" data-col="11" data-sizex="2" data-sizey="2">
      <div data-id="mis01_terminals_outofdate" data-view="Misalert2" data-title="Out of Date" data-addclass-outofdate="isNotZero"></div>
    </li>
    <!--  File Servers-->
    <li data-row="2" data-col="13" data-sizex="4" data-sizey="1">
      <div data-id="text_fileservers" data-view="Mistext" data-title="File Servers"></div>
    </li>
    <li data-row="3" data-col="13" data-sizex="2" data-sizey="2">
      <div data-id="mis01_fileserver_1" data-view="Misalert2" data-title="File Server 1" data-addclass-downloading="isNotZero"></div>
    </li>
    <li data-row="3" data-col="15" data-sizex="2" data-sizey="2">
      <div data-id="mis01_fileserver_2" data-view="Misalert2" data-title="File Server 2" data-addclass-downloading="isNotZero"></div>
    </li>
  </ul>
</div>
