
h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.widget-misalert2 {
  background: #0f9;
  font-size: 32px;
  font-weight: bold;
}

.danger {
  background: red;
}

.pending {
  background: #f00;
}

.loggedin {
  background: #1aff1a;
}

.downloading {
  background: orange;
}

.outofdate {
  background: #c9f;
}

p.updated-at-small {
  font-size: 8px;
}
